<h2>Toggl 2 Redmine <span class="date"></span></h2>

<form id="filter-form" class="t2r-form">
  <fieldset class="collapsible" id="basic-options">
    <legend onclick="toggleFieldset(this);" class="icon icon-expended">
      <%= t 't2r.label_basic_options' %></legend>
    </legend>
    <div>
      <table class="t2r-options-table">
        <tbody>
          <tr class="filter">
            <td class="field">
              <label for="date">
                <%= t :label_date %><span class="required"> *</span>
              </label>
            </td>
            <td class="values">
              <input id="date" name="date" type="date" required="required"
                     autofocus="autofocus" class="value date_value"
                     title="<%= t 't2r.tooltip_date_filter' %>" />
              <span class="date_suffix last-imported">
                <%= t('t2r.label_last_imported', date: '<span class="value" id="last-imported">&nbsp;</span>').html_safe %>
              </span>
            </td>
          </tr>
          <tr class="filter">
            <td class="field">
              <label for="default-activity-id">
                <%= t 't2r.label_default_activity' %>
              </label>
            </td>
            <td class="values">
              <select id="default-activity-id"
                      name="default-activity-id"
                      data-t2r-widget="RedmineActivityDropdown"
                      data-placeholder="-"
                      class="value"></select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
  <fieldset class="collapsible collapsed" id="advanced-options">
    <legend onclick="toggleFieldset(this);" class="icon icon-collapsed">
      <%= t 't2r.label_advanced_options' %></legend>
    <div style="display: none;">
      <table class="t2r-options-table">
        <tbody>
          <tr class="filter">
            <td class="field">
              <label for="toggl-workspace-id">
                <%= t 't2r.label_toggl_workspace' %>
              </label>
            </td>
            <td class="values">
              <select id="toggl-workspace-id" name="toggl-workspace-id" data-t2r-widget="TogglWorkspaceDropdown"
                      placeholder="-" class="value"></select>
            </td>
          </tr>
          <tr class="filter">
            <td class="field">
              <label for="rounding-method">
                <%= t 't2r.label_duration_rounding' %>
              </label>
            </td>
            <td class="values">
              <select id="rounding-method" name="rounding-method"
                      class="value" data-t2r-widget="DurationRoundingMethodDropdown"
                      title="<%= t 't2r.tooltip_duration_rounding_logic' %>"></select>
              <span class="rounding-text">&nbsp;|&nbsp;</span>
              <input id="rounding-value" name="rounding-value" class="value"
                     type="number" min="0" max="30" step="5"
                     title="<%= t 't2r.tooltip_duration_rounding_value' %>" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
  <p class="buttons">
    <a aria-role="button" href="#" id="btn-apply-filters"
       class="icon icon-checked"><%= t :button_apply %></a>
    <a aria-role="button" href="#" id="btn-reset-filters"
       class="icon icon-reload"><%= t :button_reset %></a>
    <a aria-role="button" href="https://github.com/jigarius/toggl2redmine#usage"
       target="_blank" id="btn-help" class="icon icon-help"
       title="<%= t 't2r.tooltip_help' %>"><%= t 'label_help' %></a>
    <input type="submit" hidden="hidden" />
  </p>
</form>

<%= form_tag({}, :data => {:cm_url => time_entries_context_menu_path}) do -%>
<div id="redmine-report-container">
  <h3><a href="<%= @redmine_url %>/time_entries/report" id="redmine-report-link" target="_blank">
    <%= t 't2r.caption_redmine_report' %></a></h3>
  <table id="redmine-report" class="list time-entries t2r-table">
    <thead>
      <tr>
        <th class="issue"><%= t :label_issue %></th>
        <th class="comments"><%= t :label_comment_plural %></th>
        <th class="activity"><%= t :label_activity %></th>
        <th class="hours"><%= t 't2r.label_hour_plural' %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr>
        <td><strong><%= t 't2r.redmine_report_footer' %></strong></td>
        <td></td>
        <td></td>
        <td data-property="total-hours" class="hours"></td>
        <td class="buttons"></td>
      </tr>
    </tfoot>
  </table>
</div>
<% end -%>

<form id="import-form">
  <h3><a href="https://track.toggl.com/timer" id="toggl-report-link" target="_blank">
    <%= t 't2r.caption_toggl_report' %></a></h3>
  <table id="toggl-report" class="list t2r-table">
    <thead>
      <tr>
        <th class="checkbox">
          <input type="checkbox" class="check-all toggl-selection" value=""
                 title="<%= t :button_check_all %> / <%= t :button_uncheck_all %>"
                 data-t2r-widget="Tooltip">
        </th>
        <th class="status"><%= t 't2r.label_status' %></th>
        <th class="issue"><%= t :label_issue %></th>
        <th class="comments"><%= t :label_comment_plural %></th>
        <th class="activity"><%= t :label_activity %></th>
        <th class="hours">
          <span class="icon icon-help" title="<%= t 't2r.tooltip_hours_column_header' %>"
                data-t2r-widget="Tooltip"><%= t 't2r.label_hour_plural' %></span>
        </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td><strong><%= t 't2r.toggl_report_footer' %></strong></td>
        <td></td>
        <td></td>
        <td data-property="total-hours" class="hours"></td>
      </tr>
    </tfoot>
  </table>
  <div class="form-actions">
    <input id="btn-import" type="submit" value="<%= t 't2r.button_import_to_redmine' %>" />
  </div>
</form>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 't2r', :plugin => 'toggl2redmine' %>
  <script>
    const T2R_REDMINE_API_KEY = '<%= @user.api_key %>';
    const T2R_TRANSLATIONS = <%= @translations.to_json.html_safe %>;
    const T2R_BUTTON_ACTIONS = '<%= link_to_context_menu %>';
  </script>
  <%= javascript_include_tag "t2r.js", :type => "module", :plugin => 'toggl2redmine' %>
<% end %>

<% html_title "Toggl 2 Redmine" %>
<%= context_menu %>
