<h2>Toggle 2 Redmine <span class="date"></span></h2>

<form id="filter-form" class="t2r-form">
  <fieldset class="collapsible" id="basic-options">
    <legend onclick="toggleFieldset(this);">Basic options</legend>
    <div>
      <table class="t2r-options-table">
        <tbody>
          <tr class="filter">
            <td class="field">
              <label for="date">Date<span class="required"> *</span></label>
            </td>
            <td class="values">
              <input id="date" name="date" type="date" required="required" autofocus="autofocus" class="value date_value" title="Choose the date for which you want to import time entries into Redmine. Make sure your timezone is set correctly for your Redmine and Toggl accounts." />
              <span class="date_suffix last-imported" title="The latest date for which a time entry has been found.">
                <span class="label">Last imported on</span>
                <span class="value" id="last-imported">&nbsp;</span>
              </span>
            </td>
          </tr>
          <tr class="filter">
            <td class="field">
              <label for="default-activity">Default activity</label>
            </td>
            <td class="values">
              <select id="default-activity" name="default-activity" data-t2r-widget="RedmineActivityDropdown" placeholder="-" class="value" title="This activity will be applied to all time entries by default. You will still be able the activity for individual items before importing."></select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
  <fieldset class="collapsible collapsed" id="advanced-options">
    <legend onclick="toggleFieldset(this);">Advanced options</legend>
    <div style="display: none;">
      <table class="t2r-options-table">
        <tbody>
          <tr class="filter">
            <td class="field">
              <label for="toggl-workspace">Toggl workspace</label>
            </td>
            <td class="values">
              <select id="toggl-workspace" name="toggl-workspace" data-t2r-widget="TogglWorkspaceDropdown" placeholder="-" class="value" title="Choose a Toggl workspace or leave blank to use all workspaces. If you don't use separate workspaces in Toggl, you can ignore this field."></select>
            </td>
          </tr>
          <tr class="filter">
            <td class="field">
              <label for="rounding">Duration rounding</label>
            </td>
            <td class="values">
              <select id="rounding-direction" name="rounding-direction" class="value" data-t2r-widget="DurationRoundingDirection" title="Choose the logic to be used for rounding Toggl durations."></select>
              <span class="rounding-text">&nbsp;|&nbsp;</span>
              <input id="rounding-value" name="rounding-value" class="value" type="number" min="0" max="30" step="5" title="All time entries from Toggl will automatically be rounded to this number of minutes." />
              <span class="rounding-text">minutes</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
  <p class="buttons">
    <a aria-role="button" href="#" id="btn-apply-filters" class="icon icon-checked" title="This will reload the tables below with the filters you've selected.">Apply</a>
    <a aria-role="button" href="#" id="btn-reset-filters" class="icon icon-reload">Reset</a>
    <a aria-role="button" href="https://github.com/jigarius/toggl2redmine#usage" target="_blank" id="btn-help" class="icon icon-help" title="Confused? Get started by reading the user guide.">Help</a>
    <input type="submit" hidden="hidden" />
  </p>
</form>

<div id="redmine-report-container">
  <h3>Time logged on <a href="<%= @redmine_url %>/time_entries/report" id="redmine-report-link" target="_blank">Redmine</a></h3>
  <table id="redmine-report" class="list t2r-table">
    <thead>
      <tr>
        <th class="issue">Issue</th>
        <th class="comments">Comment</th>
        <th class="activity">Activity</th>
        <th class="hours">Hours</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr>
        <td><strong>Time already logged</strong></td>
        <td></td>
        <td></td>
        <td data-property="total-hours" class="hours"></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>

<form id="publish-form">
  <h3>Time logged on <a href="https://toggl.com/app/timer" id="toggl-report-link" target="_blank">Toggl</a></h3>
  <table id="toggl-report" class="list t2r-table">
    <thead>
      <tr>
        <th class="checkbox">
          <input type="checkbox" class="check-all" value="" class="toggle-selection" title="Mark / unmark all items for editing and import. Alternatively, you can mark / unmark individual rows.">
        </th>
        <th class="status">
          <span class="icon icon-help" title="<%= I18n.t 't2r.tooltip_status_columns' %>" data-t2r-widget="Tooltip">Status</span>
        </th>
        <th class="issue">Issue</th>
        <th class="comments">Comments</th>
        <th class="activity">Activity</th>
        <th class="hours">
          <span class="icon icon-help" title="<%= I18n.t 't2r.tooltip_hours_column' %>" data-t2r-widget="Tooltip">Hours</span>
        </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td><strong>Time to be imported</strong></td>
        <td></td>
        <td></td>
        <td data-property="total-hours" class="hours"></td>
      </tr>
    </tfoot>
  </table>
  <div class="form-actions">
    <button id="btn-publish" type="submit">Import to Redmine</button>
  </div>
</form>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 't2r', :plugin => 'toggl2redmine' %>
  <%= javascript_include_tag "t2r.js", :plugin => 'toggl2redmine' %>
  <script>
    T2R.REDMINE_API_KEY = '<%= @user.api_key %>';
    T2R.TOGGL_REPORT_URL_FORMAT = 'https://www.toggl.com/app/reports/summary/[@workspace]/from/[@date]/to/[@date]';
    T2R.REDMINE_REPORT_URL_FORMAT = '<%= @redmine_url %>/time_entries?utf8=✓&set_filter=1&sort=spent_on:desc&f[]=spent_on&op[spent_on]=%3D&v[spent_on][]=[@date]&f[]=user_id&op[user_id]=%3D&v[user_id][]=me&c[]=project&c[]=spent_on&c[]=user&c[]=activity&c[]=issue&c[]=comments&c[]=hours&group_by=spent_on&t[]=hours&t[]=';
  </script>
<% end %>

<% html_title "Toggl 2 Redmine" %>
