<h2>Toggle 2 Redmine</h2>

<form id="filter-form" class="t2r-form">
  <fieldset class="collapsible" id="filters">
    <legend onclick="toggleFieldset(this);">Options</legend>
    <div>
      <table id="filters-table">
        <tbody>
          <tr class="filter">
            <td class="field">
              <label for="default-activity">Default Activity</label>
            </td>
            <td class="values">
              <select id="default-activity" data-t2r-widget="ActivityDropdown" class="value"></select>
            </td>
          </tr>
          <tr class="filter">
            <td class="field">
              <label for="date">Date<span class="required"> *</span></label>
            </td>
            <td class="values">
              <input id="date" type="date" required="required" class="value date_value" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
  <p class="buttons">
    <a aria-role="button" href="#" id="btn-apply-filters" class="icon icon-checked">Apply</a>
    <a aria-role="button" href="#" id="btn-reload-filters" class="icon icon-reload">Reset</a>
  </p>
</form>

<div id="redmine-report-container">
  <h3>Time logged on <a href="<%= @redmine_url %>" target="_blank">Redmine</a></h3>
  <table id="redmine-report" class="list odd-even t2r-table">
    <thead>
      <tr>
        <th class="id">Issue ID</th>
        <th class="subject">Subject</th>
        <th class="comments">Comments</th>
        <th class="activity">Activity</th>
        <th class="hours">Hours</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<form id="publish-form">
  <h3>Time logged on <a href="https://toggl.com/app/timer" target="_blank">Toggl</a></h3>
  <table id="toggl-report" class="list odd-even t2r-table">
    <thead>
      <tr>
        <th class="checkbox">Import?</th>
        <th class="id">Issue ID</th>
        <th class="subject">Subject</th>
        <th class="comments">Comments</th>
        <th class="activity">Activity</th>
        <th class="hours">Hours</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <div class="form-actions">
    <button id="btn-publish" type="submit">Import to Redmine</button>
  </div>
</form>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 't2r', :plugin => 'toggl2redmine' %>
  <%= javascript_include_tag "t2r.js", :plugin => 'toggl2redmine' %>
  <script>
    T2R.REDMINE_API_KEY = '<%= @redmine_api_key %>';
    T2R.TOGGL_API_KEY = '<%= @toggl_api_key %>';
    T2R.REDMINE_URL = '<%= @redmine_url %>';
  </script>
<% end %>

<% html_title "Toggl 2 Redmine" %>
